.card{
    --bs-card-border-color: none;

 }
.card .card-body {

    color: #210066;
}

.btn-custom {
    background-color: #210066;
    color: white;
    border-radius:2px; 
}


.col-lg-4 {

    justify-content: center;
    display: flex;
    margin-bottom:1rem;
    flex: 0 0 auto;
    width: 20rem !important;
}
.link-card-info-junior{
    color:white;
    text-decoration: none;
}